*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    background: linear-gradient(to right, rgb(70, 150, 255), rgb(214, 42, 248));
}

.container {
    display: flex;
    flex-direction: column;
    border: rgb(34, 33, 33) solid 20px;
    border-radius: 30px;
    height: 700px;
    width: 500px;
    background-color: rgb(34, 33, 33);
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    border: rgb(126, 125, 125) solid 3px;
    background-color: rgb(165, 165, 165);
    border-radius: 20px;
    text-align: right;
    padding: 5px;
}  

.previous-result {
    font-size: 35px;
}

.current-result {
    font-size: 80px;
}

.clear-delete {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    padding-right: 10px;
    gap: 10px;
}

.clear-delete > button {
    margin: 0px;
    padding: 0px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border: none;
}

.clear-delete .clear {
    background-color: rgb(255, 165, 0)
    ;
    font-size: 20px;
}

.clear-delete .clear:hover {
    background-color:rgb(250, 202, 113);
}

.clear-delete .backspace {
    background-color: rgb(255, 60, 60);
    font-size: 20px;
    font-weight: 500;
}

.clear-delete .backspace:hover {
    background-color: rgb(252, 147, 147);
}

.numpad {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    row-gap: 10px;
    flex: 1 1 auto;
}

.numpad > button {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    height: 90px;
    width: 100px;
    font-size: 25px;
    font-weight: 500;
    border: none;
}

.numpad > button:hover {
    background-color: lightgray;
}
